{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% if collector.countLogs %}
        {% set icon %}
            Guzzle
        {% endset %}
        {% set text %}
            <span title="{{ collector.countLogs }} messages">{{ collector.countLogs }}</span>
        {% endset %}
        {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
    {% endif %}
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon">&nbsp;</span>
    <strong>Guzzle</strong>
    <span class="count">
        <span>{{ collector.countLogs }}</span>
    </span>
</span>
{% endblock %}

{% block panel %}
    <h2>Requests</h2>

    {% if not collector.countLogs %}
        <p>
            <em>No requests sent.</em>
        </p>
    {% else %}
        <ul class="alt">
            {% for i, log in collector.logs %}
            <li class="{{ i is odd ? 'odd' : 'even' }}">
                <div>
                    <code>{{ log.message }}</code>
                </div>
            </li>
        {% endfor %}
    {% endif %}
{% endblock %}
